@charset "UTF-8";
/* 게시물 출력 구역 */
.boardbox{
	width: 80%;
	margin: 70px auto;
}
.boardtop{
	text-align: center;
}
.boardtop .cname{
	font-family: 'KimjungchulGothic-Bold'
}
.boardtopetc{
    display: flex;
    justify-content: space-between;
}

.bbtn{
	border: none;
    background-color: #c9daff;
    padding: 5px 10px;
    border-radius: 10px;
}
.boardcontent{
    margin: 30px 0px;
    border-top: 2px solid #eeeeee;
    padding: 20px 10px;
}
.bdate{ font-size: 10px; }
.btitle{ margin-top: 20px; font-weight: bold; font-size: 18px;}
.contentbottom{ text-align: right; }
.contentbottom span{ padding-left: 2px; }

/* 게시물 아래 버튼들 */
.boardbottom{
	text-align: center;
    border-top: 1px solid #eeeeee;
    padding-top: 30px;
	margin: 50px 0px;
}
.pagebtn{
   	border: none;
   	background-color: transparent;
   	font-weight: bold;
   	margin: 15px 10px;
}
.keyword{
	border: 1px solid #e8e8e8;
	padding: 5px 10px;
	border-radius: 10px;
}