@charset "UTF-8";

.t1{
	width: 600px;			
	margin: 0 auto;
	border-top: solid 2px black;
}

.t1 td{
	border-bottom: solid 0.5px #d3d3d3;
	padding: 7px;
}

.t1 input{
	width:400px;
  height:25px;
}
.t1 textarea{
	width:400px;
  height:100px;
  resize: none;
}

.box{
	width: 600px;
	margin: 0 auto;
}
.btn_box{text-align: right;}
.btn_box input{ 
	padding: 8px 10px;
	margin: 10px 10px 0px 0px;
}