@charset "UTF-8";

/* 웹폰트 */
@font-face {
    font-family: 'KorailRoundGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* 기본값 */
*{
	font-family: '맑은 고딕';
	color: black;
	margin: 0px; padding: 0px;
}
/* 로고 구역 */
.logobox{
	text-align: center;
}
/* 로고 제목 */
.title{
	font-family: 'KorailRoundGothicBold';
	color: black;
	font-size: 40px;
	text-decoration: none;
}

/* 하단 메뉴 top 위치 변경 */
.h_bottom{
	top: 40px !important; /* 부트스트랩보다 우선순위 */
}
#navContent{ background-color: #D63A39; padding: 0px 20px; color: white !important;}
.h_bottommenu .nav-link{ color: white !important;}
/* 부트스트랩 class 수정*/
.nav-link{ color: black !important;}
/* 상단 메뉴 : 오른쪽 배치 */
.h_topmenu{ width: 100%; display: flex; justify-content: flex-end; font-size: 9px;}
/* 하단 메뉴 : 가로 수평정렬 */
.h_bottommenu{ width: 100%; display: flex; justify-content: space-between; font-size: 12px; color: white;}

/* ------------------------------------- */
.itembox{ display: flex; flex-wrap: wrap; margin: 3%;}
.box_title{
	text-align: center; /* 텍스트 가운데 정렬 */
	font-family: 'KorailRoundGothicBold';
	border-bottom: 2px solid #999999;
	width: 20%; /* 박스 가로길이 */
	margin: 3% auto; /* 박스권 가운데정렬 */
	padding-top: 10%; /* 안쪽 윗 여백 */
	padding-bottom: 1%; /* 안쪽 아래 여백 */
}

/* 서로 다은 사이즈[디바이스] 마다 css 다르게 설정 -> 미디어쿼리  */
	/* @media( 조건 ){ 참일경우 css } */
/* 1. 1200px 이상 기준 */
.item{ width: 20%; margin: 2%; }
/* 2. 1200px 이하 기준 */
@media( max-width : 1000px ){ /* 최대 가로사이즈 1000px 아래이면 */
	.item{ width: 45% !important; margin: 2% !important; }
}
/* 2. 500px 이하 기준 */
@media( max-width : 500px ){ /* 최대 가로사이즈 500px 아래이면 */
	.item{ width: 90% !important; margin: 2% !important; }
}

.item img{
	width: 100%; /* 상위 요소의 크기 백분율 */
	border-radius: 15px; /* 둥근 모서리 */
}
.item :hover{ /* 해당 요소의 마우스를 올렸을때 */
	opacity: 0.8;	/* 투명도 1:100% */
}
.item_title{
	font-size: 14px;
	margin: 5% 0%; /* 위아래 왼오른쪽 */
	height: 40px;
}
.item_size{
	font-size: 13px;
	color: #999999;
	border-bottom: 1px sold #999999;
	padding-bottom: 4%;
}
.item_price{
	text-decoration:line-through; /* 취소선 */
	font-size: 14px;
	color: #999999;
	margin-top: 3%;
}
.item_sale{
	font-family: 'KorailRoundGothicBold';
	font-size: 17px;
}
.item_discount{
	font-family: 'KorailRoundGothicBold';
	color: #D63A39;
	font-size: 17px;
}
.item_bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3%;
}
.item_review{
	font-size: 12px;
	color: #999999;
	text-align: right;
}

































